body {
    margin: 0px;
    padding: 0px;
    font-family: 'Arial', sans-serif;
}

.header {
    margin: 8px auto;
}

.header > h2 {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}
